<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Available copies</th>
      <th>List of copies</th>
      <th>Title</th>
      <th>Author</th>      
    </tr>
  </thead>

  <tbody>
    <% @books.count_available.each do |book, count| %>
      <tr>
        <td><%= count %></td>
        <td><%= link_to 'Copies', copies_book_path(book, title: book[0], author: book[1]), class: "btn btn-primary" %></td>
        <% book.each do |title, author| %>
          <td><%= title %></td>
          <td><%= author %></td>  
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
