<table class="table table-hover">
  <thead>
    <tr>
      <th>Book id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Borrow date</th>   
      <th>Return date</th>    
    </tr>
  </thead>

  <tbody>
    <% @my_books.each do |book| %>
      <tr>
        <td><%= book.book_id %></td>        
        <td><%= book.book.title %></td>
        <td><%= book.book.author %></td>
        <td><%= book.date_out %></td>
        <td><%= book.date_in %></td>       
      </tr>
    <% end %>
  </tbody> 
</table>
   