<p id="notice"><%= notice %></p>

<h1>Lendings</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Date out</th>
      <th>Date in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= lending.book %></td>
        
        <td><%= lending.date_out %></td>
        <td><%= lending.date_in %></td>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path %>
