<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @lending.book.title %>
</p>

<p>
  <strong>Borrow date:</strong>
  <%= @lending.date_out %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @lending.date_in %>
</p>

<%= link_to 'Back', lendings_path %>
